@model SimpleForm_RegisterUserWithPhoto.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr/>
<form asp-action="Create" enctype="multipart/form-data">
    <partial name="_PersonForm"/>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <input type="reset" class="btn btn-primary"/>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/PersonForm.js" asp-append-version="true"></script>
    <script src="~/js/AttributeValidate.js" asp-append-version="true"></script>
}