@model SimpleForm_RegisterUserWithPhoto.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr/>

<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="_PersonForm"/>
    <span class="noDisplay" id="profile-url">@Html.DisplayFor(modelItem => Model.ProfileUrl)</span>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <input type="reset" class="btn btn-primary"/>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/PersonForm.js" asp-append-version="true"></script>
    <script src="~/js/AttributeValidate.js" asp-append-version="true"></script>
}