@model SimpleForm_RegisterUserWithPhoto.ViewModels.PersonViewModel

@{
    var imageSrc = Model?.ProfileUrl ?? Url.Content("~/NoImage.jpg");
    var imageValidTypes = Model?.ImageValidTypes ?? ".png,.jpg,.jpeg,.gif,.bmp";
}

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Family" class="control-label"></label>
            <input asp-for="Family" class="form-control"/>
            <span asp-validation-for="Family" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control"/>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control"/>
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Agreement"/> @Html.DisplayNameFor(model => model.Agreement)
                <span asp-validation-for="Agreement" class="text-danger"></span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group" id="profile-div">
            <div>
                <label asp-for="ProfilePhotoFile" class="control-label"></label>
            </div>
            <label for="imgInput" class="cursor">
                <input asp-for="ProfilePhotoFile" id="imgInput" accept="@imageValidTypes" class="noDisplay"/>
                <img src="@imageSrc" alt="your image" id="profileImg"/>
                <div class="gray-dark text-white position-absolute" id="div-edit-profile-image">
                    <span class="material-icons align-text-bottom" id="pencil">edit</span>
                    Edit
                </div>
            </label>
            
        </div>
        <span asp-validation-for="ProfilePhotoFile" id="validation-span-image" class="text-danger"></span>
    </div>
</div>